In [44]:
import pandas as pd

products = pd.read_csv('data/products.csv')
print(products)

customers = pd.read_csv('data/customers.csv', index_col=1)
print(customers)

orders = pd.read_csv('data/orders.csv', index_col=0)
print(orders)
email = orders.loc[1]['Email']
print(email)
print(customers.loc[email])

print(orders.loc[4]['Product_ID'])

products.loc[products['Product_ID'] == orders.loc[4]['Product_ID']]

  Product_ID         Product_name         Type  Price
0     FE4532  Fender Stratocaster       Guitar    399
1      MA56a        Marshall MG15    Amplifier     79
2     ROFP45          Roland FP30     Keyboard    490
3      GRM49         Gretsch Mini         Drum    280
4      TJ980    Trevor James TJ5X        Flute    240
5      PS541          Pulse Stand  Music Stand     17
6      YT665       Yamaha YTR2330      Trumpet    400
                      Name
Email
john@gmail.com        John
sim23@gmail.com     Simone
Sally@gmail.com      Sally
Sandeep@gmail.com  Sandeep
Limail@gmail.com        Li
                         Email        Date Product_ID
Order number
1               john@gmail.com  23/05/2019     FE4532
2               john@gmail.com  04/06/2019      MA56a
3               john@gmail.com  01/02/2019     ROFP45
4              sim23@gmail.com  27/03/2019      GRM49
5              Sally@gmail.com  16/05/2019      TJ980
6             Limail@gmail.com  17/05/2019     ROFP45
7             Limail@gmail.com  18/05/2019      TJ980
john@gmail.com
Name    John
Name: john@gmail.com, dtype: object
GRM49

              Email    Name        Date Product_ID
0    john@gmail.com    John  23/05/2019     FE4532
1    john@gmail.com    John  04/06/2019      MA56a
2    john@gmail.com    John  01/02/2019     ROFP45
3   sim23@gmail.com  Simone  27/03/2019      GRM49
4   Sally@gmail.com   Sally  16/05/2019      TJ980
5  Limail@gmail.com      Li  17/05/2019     ROFP45
6  Limail@gmail.com      Li  18/05/2019      TJ980

In [47]:

merged = (pd.merge(customers, orders, on='Email'))
merged.loc[merged['Name'] == 'John']

            Email  Name        Date Product_ID
0  john@gmail.com  John  23/05/2019     FE4532
1  john@gmail.com  John  04/06/2019      MA56a
2  john@gmail.com  John  01/02/2019     ROFP45

In [51]:
alldata = customers.merge(orders, on='Email').merge(products, on='Product_ID')
display(alldata)
alldata.set_index(['Email', 'Product_ID'])

,Email,Name,Date,Product_ID,Product_name,Type,Price
0,john@gmail.com,John,23/05/2019,FE4532,Fender Stratocaster,Guitar,399
1,john@gmail.com,John,04/06/2019,MA56a,Marshall MG15,Amplifier,79
2,john@gmail.com,John,01/02/2019,ROFP45,Roland FP30,Keyboard,490
3,Limail@gmail.com,Li,17/05/2019,ROFP45,Roland FP30,Keyboard,490
4,sim23@gmail.com,Simone,27/03/2019,GRM49,Gretsch Mini,Drum,280
5,Sally@gmail.com,Sally,16/05/2019,TJ980,Trevor James TJ5X,Flute,240
6,Limail@gmail.com,Li,18/05/2019,TJ980,Trevor James TJ5X,Flute,240

                               Name        Date         Product_name  \
Email            Product_ID
john@gmail.com   FE4532        John  23/05/2019  Fender Stratocaster
                 MA56a         John  04/06/2019        Marshall MG15
                 ROFP45        John  01/02/2019          Roland FP30
Limail@gmail.com ROFP45          Li  17/05/2019          Roland FP30
sim23@gmail.com  GRM49       Simone  27/03/2019         Gretsch Mini
Sally@gmail.com  TJ980        Sally  16/05/2019    Trevor James TJ5X
Limail@gmail.com TJ980           Li  18/05/2019    Trevor James TJ5X

                                  Type  Price
Email            Product_ID
john@gmail.com   FE4532         Guitar    399
                 MA56a       Amplifier     79
                 ROFP45       Keyboard    490
Limail@gmail.com ROFP45       Keyboard    490
sim23@gmail.com  GRM49            Drum    280
Sally@gmail.com  TJ980           Flute    240
Limail@gmail.com TJ980           Flute    240

In [54]:
display(pd.merge(products, orders, how='left', on='Product_ID'))

,Product_ID,Product_name,Type,Price,Email,Date
0,FE4532,Fender Stratocaster,Guitar,399,john@gmail.com,23/05/2019
1,MA56a,Marshall MG15,Amplifier,79,john@gmail.com,04/06/2019
2,ROFP45,Roland FP30,Keyboard,490,john@gmail.com,01/02/2019
3,ROFP45,Roland FP30,Keyboard,490,Limail@gmail.com,17/05/2019
4,GRM49,Gretsch Mini,Drum,280,sim23@gmail.com,27/03/2019
5,TJ980,Trevor James TJ5X,Flute,240,Sally@gmail.com,16/05/2019
6,TJ980,Trevor James TJ5X,Flute,240,Limail@gmail.com,18/05/2019
7,PS541,Pulse Stand,Music Stand,17,NaN,NaN
8,YT665,Yamaha YTR2330,Trumpet,400,NaN,NaN